{% extends "base.html" %}
{% block flags %}
{% set is_home = true %}
{% set has_sidebar = false %}
{% endblock flags %}

{% block title %}Page not found | {{ config.title }}{% endblock title %}

{% block content %}
{# VPDoc, no-sidebar layout #}
<div class="w-full pt-8 px-6 pb-24 md:pt-12 md:pb-32 md:px-8 lg:pt-12 lg:pb-0 lg:px-8">
  <div class="mx-auto w-full lg:flex lg:justify-center lg:max-w-[62rem] 2xl:max-w-[69rem]">
    <div class="relative mx-auto w-full lg:px-8 lg:pb-32 xl:order-1 xl:m-0 xl:min-w-[40rem] lg:max-w-[47rem] 2xl:max-w-[49rem]">
      <div class="mx-auto max-w-[43rem]">
        <main>
          <div id="main" class="vp-doc {{ <vpdoc_classes /> }}">
            <h1>Page not found</h1>
            <p>The page you are looking for does not exist.</p>
            <p><a href="{{ get_url(path='/') }}">Return home</a></p>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
